{% extends "base.html" %} {% block content %} {% include "nav/mainnav.html" %}

<div class="row">
  <div class="col-md-5 mt-4">
    <img
      src="https://img.freepik.com/free-psd/3d-nft-icon-chain_629802-28.jpg?w=740&t=st=1672983800~exp=1672984400~hmac=088f059262ea9a2b9cbef085752a5ae2f5549fe1f36101432129625d56847967"
      alt="Vector image"
      class="card-img-top"
    />
  </div>
  <div class="col-md-5 mt-5">
    <div class="card mt-5">
      <div class="card-body">
        <h5 class="card-title">Fake Product Detection Using Blockchain</h5>
        <p class="card-text">
          In this project the user will login and see the products which will
          contain a qr code and if the user scans the qr code then it shows if
          the product is fake or not.
        </p>
        <p class="card-text">
          <small class="text-muted">
            This project is developed using Python , Html ,Css , Javascript
          </small>
        </p>
      </div>
    </div>
    <div class="jumbotron mt-5">
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/register" role="button"
          >Get Started Here</a
        >
      </p>
    </div>
  </div>
</div>

{% endblock %}
